{% extends 'main/layout.html' %}

{% load static %}

{% block meta %}
    <meta name="twitter:card" content="summary">
    <meta property="og:url" content="https://scihublondon.org/{{ event.slug }}">
    <meta property="og:title" content="{{ event.title }} — Sci-Hub Meetup London">
    <meta property="og:description" content="Join us on Sep 23, 2021 at Newspeak House for our first meetup!">
{% endblock %}

{% block content %}
<h1 class="title">
    <a href="{% url 'index' %}" class="title-muted">
        Sci-Hub Meetup London
    </a>
    <br>{{ event.title }} —
    <a href="{% url 'event_ics' event.slug %}" class="event-ics">
        <time datetime="{{ event.scheduled_at|date:'c' }}">
            {{ event.scheduled_at|date }} at {{ event.scheduled_at|time }}
        </time>
    </a>
    <br>@ <a href="{{ event.location_url }}">{{ event.location }}</a>
</h1>

<main>
    <article class="lead">
        {{ event.body|safe }}
    </article>

    {% include "partials/subscribe.html" %}

    <hr>

    {% include "partials/lenses.html" %}

    {% include "partials/subscribe.html" %}

</main>
{% endblock %}}
