{% extends 'main/layout.html' %}

{% load static %}

{% block meta %}
    <meta name="twitter:card" content="summary">
    <meta property="og:url" content="https://scihublondon.org/{{ event.slug }}">
    <meta property="og:title" content="{{ event.title }} — Sci-Hub Meetup London">
    <meta property="og:description" content="Join us on Sep 23, 2021 at Newspeak House for our first meetup!">
{% endblock %}

{% block content %}

<h1 class="landing-title">
    <span class="landing-title-muted">Sci-Hub Meetup London</span>
    <br>{{ event.title }} — {{ event.scheduled_at|date }} at {{ event.scheduled_at|time }}
    <br>@ <a href="https://www.nwspk.com/">{{ event.location }}</a>
</h1>

<main>
    <article class="landing-intro">
        <p>Hey!—</p>
        <p>
            Are you interested in Sci-Hub? We’re interested in
            <span style="white-space: nowrap;">Sci-Hub</span>!
        </p>
        <p>
            We’re a group of people (not affiliated with Sci-Hub) that
            wants to talk about and exchange ideas and stories about the
            unique library.
        </p>

        <p>
            Join us in our inaugural meetup at Newspeak House. Let’s meetup and
            talk about the phenomenon of
            <span style="white-space: nowrap;">Sci-Hub</span>!
        </p>
        <p>
            PS. We do not support, endorse, or contribute in any
            way to illegal activities. Our interest to Sci-Hub is only
            from a societal and research point of view.
        </p>

        <p>
            <strong>Newspeak House</strong> is at
            <a href="https://goo.gl/maps/7PGNugeR6dPika6W8">133-135 Bethnal Green Road, E2 7DG</a>.
        </p>
        <p>
            Contact: <a href="https://twitter.com/sirodoht">@sirodoht</a> or
            <a href="mailto:zf+scihub@sirodoht.com">zf+scihub@sirodoht.com</a>.
        </p>
    </article>

    {% include "partials/subscribe.html" %}

    <hr>

    <article>
        <h2>Sci-Hub can be approached through many lenses</h2>
        <p>
            <span class="landing-wordgram">Practical.</span>
            Making it easier to download articles, even when one has
            access through the official channels.
        </p>
        <p>
            <span class="landing-wordgram">Essential.</span>
            Without Sci-Hub lots of people (and especially those from
            poor countries/universities) would not be able to access a
            wide array papers.
        </p>
        <p>
            <span class="landing-wordgram">Ethical.</span>
            Neither does one want to be treated unfairly nor wrong
            someone else. Is it fair for Sci-Hub to exist?
        </p>
        <p>
            <span class="landing-wordgram">Political.</span>
            In addition to everything else, it was our societies’ laws
            that motivated Sci-Hub to come to existence.
        </p>
        <p>
            <span class="landing-wordgram">Technical.</span>
            How on earth does all this bandwidth demand from
            all over the world get covered?
        </p>
        <p>
            <span class="landing-wordgram">Legal.</span>
            What do copyright laws say and how are they defined?
        </p>
        <p>
            <span class="landing-wordgram">Research.</span>
            Does more people having access to research papers lead
            to science speeding up?
        </p>
        <p>...and many more we haven’t thought yet.</p>

        <p>
            If you have any thoughts or comments on the
            above, join us—we’d love to hear them.
        </p>
    </article>

    {% include "partials/subscribe.html" %}

</main>

{% endblock %}}
