{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<h1 class="title">Sci-Hub Meetup London</h1>

<main>
    <article class="pinned">
        <a href="meetup-1">Meetup #1 — Sep 23, 2021</a>
        <br>@ <a href="https://www.nwspk.com/">Newspeak House</a>
    </article>

    <article class="intro">
        <p>Hey!—</p>
        <p>
            Are you interested in Sci-Hub? We’re interested in
            <span style="white-space: nowrap;">Sci-Hub</span>!
        </p>
        <p>
            We’re a group of people (not affiliated with Sci-Hub) that
            wants to talk about and exchange ideas and stories about the
            unique library.
        </p>

        <p>
            Join us in our first meetup on September 23, 2021
            at <a href="https://www.nwspk.com/">Newspeak House</a>!
        </p>
        <p>
            PS. We do not support, endorse, or contribute in any
            way to illegal activities. Our interest to Sci-Hub is only
            from a societal and research point of view.
        </p>
    </article>

    {% include "partials/subscribe.html" %}

    <hr>

    <article>
        <h2>Sci-Hub can be approached through many lenses</h2>
        <p>
            <span class="wordgram">Practical.</span>
            Making it easier to download articles, even when one has
            access through the official channels.
        </p>
        <p>
            <span class="wordgram">Essential.</span>
            Without Sci-Hub lots of people (and especially those from
            poor countries/universities) would not be able to access a
            wide array papers.
        </p>
        <p>
            <span class="wordgram">Ethical.</span>
            Neither does one want to be treated unfairly nor wrong
            someone else. Is it fair for Sci-Hub to exist?
        </p>
        <p>
            <span class="wordgram">Political.</span>
            In addition to everything else, it was our societies’ laws
            that motivated Sci-Hub to come to existence.
        </p>
        <p>
            <span class="wordgram">Technical.</span>
            How on earth does all this bandwidth demand from
            all over the world get covered?
        </p>
        <p>
            <span class="wordgram">Legal.</span>
            What do copyright laws say and how are they defined?
        </p>
        <p>
            <span class="wordgram">Research.</span>
            Does more people having access to research papers lead
            to science speeding up?
        </p>
        <p>...and many more we haven’t thought yet.</p>

        <p>
            If you have any thoughts or comments on the
            above, join us—we’d love to hear them.
        </p>
    </article>

    {% include "partials/subscribe.html" %}
</main>
{% endblock %}
