{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<h1 class="title">Sci-Hub Meetup London</h1>

<main>
    <article class="pinned">
        <!--
        <p>
            <span>Next meetup</span>
            <br>
            <span style="color: #999;">mid-December 2021</span>
        </p>
        <p><a class="pinned-subscribe" href="{% url 'subscribe' %}">Get notified »</a></p>
        -->
        {% if latest_event %}
        <a href="{% url 'event' latest_event.slug %}">
           {{ latest_event.title }} — {{ latest_event.scheduled_at|date }}
        </a>
        <br>@ <a href="https://www.nwspk.com/">{{ latest_event.location }}</a>
        {% endif %}
    </article>

    <article class="past">
        <h2>Past meetups</h2>
        {% for event in event_list %}
        <p>
            <a href="{% url 'event' event.slug %}">
                {{ event.title }} —  {{ event.scheduled_at|date }}
            </a>
        </p>
        {% endfor %}
    </article>

    <article class="lead">
        <p>Hey!—</p>
        <p>
            Are you interested in Sci-Hub? We’re interested in
            <span style="white-space: nowrap;">Sci-Hub</span>!
        </p>
        <p>
            We’re a group of people (not affiliated with Sci-Hub) that
            wants to talk about and exchange ideas and stories about the
            unique library.
        </p>

        <p>
            We had our first meetup in September 2021 at
            <a href="https://www.nwspk.com/">Newspeak House</a>, and it was great!
            You can find our discussion notes
            <a href="/meetup-1/#notes">here</a>.
        </p>
        <p>
            PS. We do not support, endorse, or contribute in any
            way to illegal activities. Our interest to Sci-Hub is only
            from a societal and research point of view.
        </p>
    </article>

    {% include "partials/subscribe.html" %}

    <div>
        <h2>Or chat with us</h2>
        <p>
            <a href="https://t.me/joinchat/m0ekkLLYgD03MGU8">Join</a>
            our group on Telegram.
        </p>
    </div>

    <hr>

    {% include "partials/lenses.html" %}

    {% include "partials/subscribe.html" %}
</main>
{% endblock %}
